{%extends 'student/base.html' %}
{%  load static %}
{% block main_body %}

<link rel="stylesheet" href="{% static 'student/plugins/adminLTE/css/AdminLTE.css' %}">
<link rel="stylesheet" href="{% static 'student/plugins/bootstrap/css/bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'student/plugins/datatables/dataTables.bootstrap.css' %}">
<!-- <script src="{% static 'myadmin/index/index.js' %}"></script> -->

<div class="box box-primary" style="padding: 25px 10px 10px;">
    <div class="box-body">
        <div class="table-box">
            <table class="table table-bordered table-striped table-hover dataTable">
                <thead>
                    <tr>
                        <th class>学号</th>
                        <th class>姓名</th>
                        <th class>队长</th>
                        <th class>队伍id</th>
                        <th class>竞赛名称</th>
                        <th class>竞赛状态</th>
                    </tr>
                </thead>
                <tbody>
                    {% for name,user_id,head,h_c_id,c_name,c_status in conlist %}
                    <tr>
                        <td>{{user_id}}</td>
                        <td>{{name}}</td>
                        <td>{{head}}</td>
                        <td>{{h_c_id}}</td>
                        <td>{{c_name}}</td>
                        <td>{{c_status}}</td>
                        <!-- { % if head == '是' %} -->
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="box-footer clearfix">
        {% if user != h_uid %}
        <a role="button" onclick="return quit();" href="{% url 'sc_team_quit' h_c_id %}?status=f" class="btn btn-primary btn-xs">
            <span class="glyphicon " aria-hidden="true">      
            </span> 退出团队
        </a>
        {% endif %}

        {% if user == h_uid %}
        <a role="button" onclick="return jsan();" href="{% url 'sc_team_js' h_c_id %}?status=f" class="btn btn-primary btn-xs">
            <span class="glyphicon " aria-hidden="true">      
            </span> 解散团队   
      </a>

      <a role="button"  href="{% url 'sc_upload_works' h_c_id %}" class="btn btn-primary btn-xs">
        <span class="glyphicon " aria-hidden="true">      
        </span> 提交作品   
  </a>
      {% endif %}   
    </div>

</div>

<!-- <script>
    function verify()
		{
		     if(confirm("确定要转让队长权限吗?"))
		     {
		         return true;
		     }else{
		         return false;
			 }
		}


</script> -->


<script>
    function quit()
    {
        if(confirm("确定要退出团队嘛?此操作不可逆！！！"))
		     {
		         return true;
		     }else{
		         return false;
			 }          
    }
</script>

<script>
    function jsan()
    {
        if(confirm("确定要解散团队嘛?此操作不可逆！！！"))
		     {
		         return true;
		     }else{
		         return false;
			 }        
    }
</script>
{% endblock %}