{% extends "admin/base.html" %}

{% block main_body %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        竞赛信息管理

      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 首页</a></li>
        <li class="active">竞赛信息</li>
      </ol>
    </section>

    <!-- Main content -->
<div>
<form action="{% url 'img' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
<input name="img" type="file" accept="image/png" multiple/>
<button type="submit">提交</button>
</form>
</div>
    <!-- /.content -->
{% endblock %}