<div class="ma">
  <a href="javascript:;" class="left">&lt;</a>
  <!-- 右按钮 -->
  <a href="javascript:;" class="right">&gt;</a>
  <!-- 滚动区 -->
  <ul>
                    {% for i in info %}
    <li>
                {% if i.type == 'news' %}
                <a href="{% url 'admin_news_show' i.id %}" style="color: rgb(15, 15, 15)" >
                    <h1 style=" width: 1000px; height: 500px ;background-size:1000px 500px;background-image:url('{% static i.img_path %}')">{{ i.title }}</h1>
                </a>
                {% endif %}

                {% if i.type == 'notice' %}
                <a href="{% url 'notice_show' i.id %}" style="color: rgb(15, 15, 15)" >
                    <h1 style=" width: 1000px; height: 500px ;background-size:1000px 500px;background-image:url('{% static i.img_path %}')">{{ i.title }}</h1>
                </a>
                {% endif %}


    </li>

                    {% endfor %}
  </ul>
  <!-- 小圆 -->
        <ol class="circle">

        </ol>

</div>