{% extends "admin/base.html" %}
{% load static %}
{% block main_body %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
<link rel="stylesheet" type="text/css" href="{% static 'myadmin/index/index.css' %}"/>
<script src="{% static 'myadmin/index/animate.js' %}"></script>
<script src="{% static 'myadmin/index/index.js' %}"></script>
<link rel="stylesheet" href="{% static 'layui/layui.css' %}">
<script src="{% static 'layui/layui.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'myadmin/index/index2.css' %}">    
      </h1>
    </section>

    <!-- Main content -->

<div class="mainBody">

<div class="page" >


  <div class="layui-carousel" style="padding: 5px 5px;" id="test1">
    <div carousel-item>
      {% for i in info %}
      <li>
        {% if i.type == 'news' %}
        <a href="{% url 'admin_news_show' i.id %}" style="color: rgb(15, 15, 15)" >
          <img style="width: 1040px; height: 500px" src="{% static i.img_path %}">
        </a>
        <div >
          <span style="width: 1000px;height: 20px;">
            {{ i.title }}
          </span></div>
        {% endif %}

        {% if i.type == 'notice' %}
        <a href="{% url 'notice_show' i.id %}" style="color: rgb(15, 15, 15)" >
          <img style="width: 1040px; height: 500px" src="{% static i.img_path %}">
            <!-- <h1 style=" width: 1000px; height: 500px ;background-size:1000px 500px;background-image:url('{% static i.img_path %}')">{{ i.title }}</h1> -->
        </a>
        <div >
        <span style="width: 1000px;height: 20px;">
          {{ i.title }}
        </span></div>
        {% endif %}


      </li>

            {% endfor %}
    </div>
  </div>
  <script>
    layui.use('carousel', function(){
      var carousel = layui.carousel;
      //建造实例
      carousel.render({
        elem: '#test1'
        ,width: '1040px' //设置容器宽度
        ,height:'500px'
        
        ,indicator:'inside'
        ,arrow: 'always' //始终显示箭头
        ,anim: 'fade' //切换动画方式
      });
    });
    </script>


</div>

    <div class="indexFloor">
  
  <div class="iBoxA" >
    <div class="box-title">
      {% if identify == '管理员'%}
      <a href="{%url 'admin_news_list' 1%}" class="more">更多</a>
      {%elif identify == '学生'%}
      <a href="" class="more">更多</a>
      {%endif%}
      <h2>新闻</h2>
    </div>

    <div class="box-body">
      {%for i in news %}
      <ul>
        <li>
          <a href="{%url 'admin_news_show' i.id %}">{{i.title}}</a>
        </li>
      </ul>
      {%endfor%}
    </div>
  </div>

  <div class="iboxB" style="width: 47%; float:right;">
        <div class="box-title"><strong><b>学科竞赛</b></strong><a href="{% url 'admin_contest_show' 1 %}" class="more">更多</a></div>
        <div class="box-body">
          <div class="list">
            <ul>
              {% for i in con %}
              <li >
                <a href="{% url 'admin_contest_info' i.id %}">{{i.contest_name}}</a>
              </li>
              {%endfor%}
            </ul>
          </div>

        </div>
  </div>

</div>  

  <div class="indexFloor">

    <div class="iboxB" style="width: 47%; float:right;">
      <div class="box-title"><strong><b>文件下载</b></strong><a href="" class="more">更多</a></div>
      <div class="hot">
        <a href="">
          <div class="pic">
            <img style="    float: left;
            height: 94px;
            width: 142px;
            margin: 0px 18px 15px 0px;" src="{% static 'myadmin/index/20220303165610_5343.png' %}">
          </div>
        </a>
      </div>
        <div class="list">
          <ul>
            {%for i in file%}
            <li >
              <a href="">{{i.file_name}}</a>
            </li>
            {%endfor%}
          </ul>
        </div>


  </div>

  <div class="iboxB" style="width: 47%; float:left;">
    <div class="box-title"><strong><b>通知</b></strong>
      {% if identify == '管理员' %}
      <a href="{%url 'notice_list' 1 %}" class="more">更多</a>
      {%elif identify == '学生'%}
      <a href="" class="more">更多</a>
      {%endif%}
    </div>
    <div class="hot">
        <a href="">
          <div class="pic">
            <img style="    float: left;
            height: 94px;
            width: 142px;
            margin: 0px 18px 15px 0px;" src="{% static 'myadmin/index/20220304130701_0933.png' %}" >
          </div>
          <div class="title"></div>
        </a>
    </div>

      <div class="list">
  <ul>
    {% for i in notice %}
    <li >
      <a href="{% url 'notice_show' i.id %}">{{i.title}}</a>
    </li>
    {%endfor%}
  </ul>
      </div>

  </div>

  </div>

</div> 


    <!-- /.content -->
{% endblock %}
