.dog{
    width: 744px;
    margin: 0px auto;
    padding-top:30px;
}
.dog .dog-a{
    width: 597px;
    line-height: 28px;
    font-family: "微软雅黑";
    background: url(icon-sponsor-01.png) no-repeat;
    background-position: left 5px;
    padding-left: 24px;
}
.dog .dog-aa{
    text-decoration: none;
    cursor: pointer;
}
.dog-b{
    width: 598px;
    line-height: 28px;
    font-family: "微软雅黑";
    background: url(icon-time-02.png) no-repeat;
    background-position: left 6px;
    padding-left: 24px;
    display: inline;
}


.ComDetailBoxA{
    overflow: hidden;
    width:845px; background:#fff;
    padding: 20px 0px;margin-top:10px;
}
.Downloadbox{
    width:745px;margin:0px auto; 
    padding:20px 0px;
}
.Download-fix{
    display:block;width:743px;
    border:1px dashed #d9d9d9; 
    background:#f7f7f7;
    position:relative;margin-bottom:5px; 
    z-index:777;
}
.Downloadbox p{
                  width:566px;
                  line-height:30px;
                  font-family:'微软雅黑';
                  font-size:16px;
                  color:#333;
                  background:url(icon-down.png) no-repeat;
                  background-position:left 6px;
                  padding-left:30px;
                  margin-left:24px;
                  margin-top:18px;
}

.Downloadbox i{
    display:block;
    width:596px;
    margin-left:54px;
    padding-bottom:18px;
    font-family:'微软雅黑';
    font-size:12px;
    color:#9e9e9e;
}
.download-btns{
    width:56px;
    height:24px;
    background:#4ca4ff;
    text-align:center;
    position:absolute;
    top:22px;
    right:24px;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
}
.download-btns a{
    font-family: "微软雅黑";
    font-size: 14px;
    padding-left: 14px;
    color: #fff;
    background: url(icon-download.png) no-repeat;
    background-position: left center;
}